alpaca-trade-api==0.49.1
astroid==2.4.2
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
check-manifest==0.42
cira
colorama==0.4.3
cryptography==3.0
docutils==0.16
idna==2.10
isort==4.3.21
jeepney==0.4.3
keyring==21.3.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.1
packaging==20.4
pandas==1.1.0
pep517==0.8.2
pkginfo==1.5.0.1
pycparser==2.20
Pygments==2.6.1
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
six==1.15.0
toml==0.10.1
tqdm==4.48.2
twine==3.2.0
urllib3==1.25.10
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
wrapt==1.12.1
